.beat-cont {
  height: 100%;
  width: 50%;
  margin-top: 11vh;
  text-align: center;
  justify-content: center;
}

.beat-info-row {
  margin: 5rem 5rem;
  width: 77%;
}

.beat-info-space {
  align-content: flex-start;
}

.beat-title {
  margin-top: 3vh;
  max-height: 5vh;
  font-size: 1.75vw;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.beat-artist {
  font-size: 1.25vw;
  color: black;
}

.artwork {
  box-shadow: 12px 12px black;
}

.artwork:hover {
  animation: none !important;
}

@media (max-width: 1024px) {
  .beat-cont {
    width: 50%;
    margin-top: 10vh;
  }

  .beat-title {
    padding: 0 5vw;
    text-align: center;
    font-size: clamp(16px, 5vw, 32px);
  }

  .beat-artist {
    font-size: clamp(16px, 4vw, 24px);
  }
}
