.filter-btn {
  border: solid 1px black;
  border-radius: 8px;
  height: 36px;
  margin: 10px;
  margin-left: 3vw;
  box-shadow: 5px 5px rgb(232, 162, 21);
  background-color: black;
  color: rgb(240, 240, 240);
  font-size: 18px;
}
