/* this should probably be global */
@media (min-width: 1921px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    text-align: center;
    height: 100vh;
  }

  .form {
    justify-items: center;
    width: 100%;
    margin-top: 1vh;
    height: 50vh;
  }

  .input {
    width: 450px;
    height: 50px;
    border-radius: 40px;
  }

  .logButton {
    font-size: 1vw;
    background: black;
    border-color: black;
    width: 17vw;
    max-width: 200px;
    height: 8vh;
    max-height: 75px;
    margin-bottom: 1vh;
    size: large;
  }

  h1 {
    margin-top: 1vh;
    font-size: 2vw;
  }
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
    text-align: center;
    height: 100vh;
  }

  .form {
    justify-items: center;
    width: 50vw;
    margin-top: 1vh;
    height: 50vh;
  }

  .input {
    width: 27vw;
    max-width: 600px;
    height: 5vh;
    max-height: 50px;
    border-radius: 40px;
  }

  .logButton {
    font-size: clamp(16px, 1.5vw, 24px);
    background: black;
    border-color: black;
    width: 17vw;
    max-width: 180px;
    height: 8vh;
    max-height: 50px;
    margin-bottom: 1vh;
    size: large;
  }

  h1 {
    margin-top: 1vh;
    font-size: 2vw;
  }
}

/* @media screen and (min-width: 1200px) {
  .login-button {
    font-size: 2px;
  }
} */

/* Tablet CSS */

@media (min-width: 480px) and (max-width: 1024px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    text-align: center;
    height: 87.5vh;
    padding: 0px;
  }

  .logo {
    width: 25vw;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 4vh;
    height: 50vh;
    padding-right: 25vw;
  }

  .loginText {
    font-size: 4vw;
  }

  .input {
    width: 75vw;
    max-width: 600px;
    height: 5vh;
    max-height: 50px;
    border-radius: 40px;
  }

  .forgotPassword {
    padding-left: 25vw;
    width: 100%;
  }

  .buttonUnOffset {
    padding-left: 18vw;
  }

  .logButton {
    font-size: 4vw;
    background: black;
    border-color: black;
    width: 75vw;
    max-width: 200px;
    height: 8vh;
    max-height: 75px;
    margin-bottom: 1vh;
    margin-left: 1.5vw;
  }

  .noAccount {
    padding-right: 15vw;
    width: 200%;
  }

  h1 {
    margin-top: 1vh;
    font-size: 4vw;
  }
}

/* Mobile CSS */

@media (max-width: 480px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    text-align: center;
    height: 87.5vh;
    padding: 0px;
  }

  .logo {
    width: 25vw;
    height: auto;
  }

  .row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-top: 4vh;
    height: 50vh;
    padding-right: 25vw;
  }

  .loginText {
    font-size: 4vw;
  }

  .input {
    width: 75vw;
    max-width: 600px;
    height: 5vh;
    max-height: 50px;
    border-radius: 40px;
  }

  .forgotPassword {
    padding-left: 15vw;
  }

  .buttonUnOffset {
    padding-left: 7.5vw;
  }

  .logButton {
    font-size: 4vw;
    background: black;
    border-color: black;
    width: 75vw;
    max-width: 200px;
    height: 8vh;
    max-height: 75px;
    margin-bottom: 1vh;
  }

  h1 {
    margin-top: 1vh;
    font-size: 4vw;
  }
}
