/* global content thing here */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.for-you-text {
  padding-left: min(30vw, 20px);
  align-self: flex-start;
  font-size: clamp(20px, 2vw, 30px);
}