/* global defaults */
.title {
  font-size: clamp(64px, 8vw, 250px);
}

.subtitle {
  font-size: clamp(18px, 2.1vw, 60px);
  padding-left: clamp(50px, 18vw, 650px);
  letter-spacing: 0.25vw;
  margin: 0vw;
  z-index: 1;
}

.logButton {
  box-shadow: clamp(3px, 3vw, 6px) clamp(3px, 5vw, 6px);
  width: clamp(100px, 16vw, 200px);
  height: clamp(36px, 5vh, 80px);
  font-size: clamp(16px, 2vh, 32px);
}

.buttonspace {
  padding-top: clamp(20px, 10vh, 30px);
}

p {
  font-family: 'Norwester', sans-serif !important;
  font-weight: normal !important;
}

/* Desktop CSS */
@import url('https://fonts.cdnfonts.com/css/norwester');
@media (min-width: 2561px) {
  .layout {
    padding: 0vh 0vw 0vw 0vw;
  }

  .content {
    /*holds everything on the page including the infopanels*/
    justify-content: center;
    height: 90vh;
  }

  .logo {
    width: min(40vw, 1300px);
    height: auto;
  }

  .row {
    /*holds only the logo, title, and login buttons*/
    font-family: 'Norwester', sans-serif !important;
    height: 90vh;
    width: 100vw;
    max-width: 3456px;
    justify-content: left;
    padding-left: 6vw; /*to make the logo+title centered relative to the infopanels*/
  }

  .container {
    position: relative; /*necessary to make text overlap with image*/
    width: 100vw;
  }

  .container .orangetext {
    position: absolute; /*necessary to make text overlap with image*/
    margin: 0 auto;
    z-index: 0;
    left: -2.7vw; /*center text over image horizontally*/
    right: 0vw;
    top: 30vh; /*center text over image vertically*/
    text-align: center;
    width: 100%;
  }

  .buttonspace {
    /*position buttons simultaneously*/
    padding-left: 32vw;
  }
}

@media (min-width: 1024px) and (max-width: 2560px) {
  .layout {
    padding: 0vh 0vw 0vw 0vw;
  }

  .content {
    /*holds everything on the page including the infopanels*/
    justify-content: center;
  }

  .logo {
    width: 40vw;
    margin-top: 100px;
    height: auto;
  }

  .row {
    /*holds only the logo, title, and login buttons*/
    font-family: 'Norwester', sans-serif;
    height: 95vh;
    width: 100vw;
    justify-content: left;
    padding-left: 6vw; /*to make the logo+title centered relative to the infopanels*/
  }

  .container {
    position: relative; /*necessary to make text overlap with image*/
    width: 100vw;
  }

  .container .orangetext {
    position: absolute; /*necessary to make text overlap with image*/
    margin: 0 auto;
    z-index: 0;
    left: -2.7vw; /*center text over image horizontally*/
    right: 0vw;
    top: 40vh; /*center text over image vertically*/
    text-align: center;
    width: 100%;
  }

  .buttonspace {
    /*position buttons simultaneously*/
    padding-left: 32vw;
  }
}

/* Tablet CSS */

@media (min-width: 480px) and (max-width: 1024px) {
  .layout {
    padding: 0vh 0vw 0vw 0vw;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 450px;
    height: auto;
  }

  .row {
    /*holds only the logo, title, and login buttons*/
    font-family: 'Norwester', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    max-width: 1024px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .orangetext {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  .logButton {
    width: 100px;
    height: 32px;
    font-size: 16px;
  }

  footer {
    display: none;
  }
}

/* Mobile CSS */

@media (max-width: 480px) {
  .layout {
    width: 100vw;
    padding: 0vh 0vw 0vw 0vw;
  }

  .content {
    /*holds everything on the page including the infopanels*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logo {
    width: 70vw;
    position: absolute;
    top: 7vh;
    left: 7vw;
  }

  .title {
    font-size: 12vw;
  }

  .subtitle {
    font-size: 3.2vw;
    margin-right: auto;
  }

  .row {
    /*holds only the logo, title, and login buttons*/
    font-family: 'Norwester', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    max-width: 480px;
    height: 50vh;
    margin: 0 0 5vh 0;
  }

  .container {
    position: absolute;
    text-align: center;
    width: 100vw;
  }

  .orangetext {
    position: absolute; /*necessary to make text overlap with image*/
    margin: 0 auto;
    z-index: 0;
    right: 0vw;
    top: 30vh; /*center text over image vertically*/
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .buttonspace {
    margin: clamp(10px, 5vh, 35px);
  }

  .logButton {
    font-size: 16px;
    height: 48px;
  }

  header {
    display: none;
  }

  footer {
    display: none;
  }
}
