.typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  width: 100%;
  text-align: center;
}

.faq {
  margin-left: 2rem;
  margin-top: 6rem;
}

.yikes {
  width: 60%;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  margin-top: 4rem;
}
