.content {
  margin: 0 5vw;
}

.useravatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  width: clamp(20px, 15vw, 300px);
  height: clamp(20px, 15vw, 300px);
}

.username {
  font-size: clamp(50px, 3vw, 100px);
  margin: 0 1vw;
}

.bio {
  font-size: clamp(15px, 1vw, 50px);
  margin: 1vw;
  max-width: 60%;
}