@media (min-width: 2000px) and (max-width: 3440px) {
  .row-container {
    width: 70vw;
    max-width: 2560px;
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 0 2rem 0 min(350px, 14vw);
    justify-content: center;
    margin: 1.25vw;
  }

  .download-button {
    font-size: 1.5vw;
    margin-right: 1vw;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title {
    cursor: pointer;
    margin-left: 3vw;
    align-self: flex-start;
    font-size: clamp(15px, 1vw, 20px);
  }

  .info-text {
    margin-left: 3vw;
    margin-top: -1vh;
    align-self: flex-start;
    font-size: clamp(13px, 0.8vw, 18px);
  }

  .artwork {
    box-shadow: 6px 3px black;
  }
}

@media (min-width: 1920px) and (max-width: 1999px) {
  .row-container {
    width: 70vw;
    max-width: 1400px;
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 0 2rem 0 min(350px, 14vw);
    justify-content: center;
    margin: 1.25vw;
  }

  .download-button {
    font-size: 1.5vw;
    margin-right: 1vw;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .title {
    cursor: pointer;
    margin-left: 3vw;
    align-self: flex-start;
    font-size: clamp(15px, 1vw, 20px);
  }

  .info-text {
    margin-left: 3vw;
    margin-top: -1vh;
    align-self: flex-start;
    font-size: clamp(13px, 0.8vw, 18px);
  }

  .artwork {
    box-shadow: 6px 3px black;
  }
}

/* this is super fucked but it works */

@media (min-width: 1280px) and (max-width: 1919px) {
  .row-container {
    width: 75%;
    max-width: 1400px;
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 0 2rem 0 4rem;
    justify-content: center;
    margin: 1.25vw;
    margin-left: 10%;
  }

  .download-button {
    font-size: 1.5vw;
    margin-right: 1vw;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2vw;
  }

  .title {
    cursor: pointer;
    margin-left: 3vw;
    align-self: flex-start;
    font-size: clamp(15px, 1vw, 20px);
  }

  .info-text {
    margin-left: 3vw;
    margin-top: -1vh;
    align-self: flex-start;
    font-size: clamp(13px, 0.8vw, 18px);
  }
  .artwork {
    box-shadow: 6px 3px black;
  }
}

/* mobile css */

@media (max-width: 480px) {
  .row-container {
    padding: 1vh;
    width: 100vw;
    justify-content: space-between;
  }

  .download-button {
    font-size: 1.5vw;
    margin-right: 1vw;
  }

  .text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2vw;
  }

  .title {
    cursor: pointer;
    margin-left: 3vw;
    align-self: flex-start;
    font-size: clamp(15px, 1vw, 20px);
  }

  .info-text {
    margin-left: 3vw;
    margin-top: -1vh;
    align-self: flex-start;
    font-size: clamp(13px, 0.8vw, 18px);
  }
  .artwork {
    box-shadow: 6px 3px black;
  }
}
