.playbackbutton {
  position: fixed;
  background: transparent;
  border: none !important;
  bottom: 10vh;
  left: 5vw;
  margin: 2rem;
  font-size: 2rem;
}

.playbackbtn-bar {
  background: transparent;
  border: none !important;
  color: white;
  margin: 2rem;
  margin-left: 30%;
  padding-bottom: 2vh;
  font-size: 2.5rem;
}

.seek-bar {
  accent-color: var(--primary);
  width: 30vw;
  margin-bottom: 2vh;
}
