:root {
  --primary: #ffbd59;
  --secondary: #38639a
  --dark-text: #191919;
}

.App {
  background-color: var(--primary);
}

body {
  background-color: var(--primary) !important;
  color: var(--dark-text) !important;
}

.ant-layout-content, .ant-layout {
  background-color: var(--primary) !important;
}

.button-lg-round {
  width: '200px';
  height: '65px';
  font-weight: 'bold';
}

.input-round {
  border-radius: '15px';
  height: '50px';
}