:root {
  --primary: #ffbd59;
  --secondary: #38639a
  --dark-text: #191919;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

html {
  margin: 0 !important;
}

.WebContainer {
  width: 100%;
  height: auto;
}

.App {
  background-color: var(--primary);
}

body {
  background-color: var(--primary) !important;
  color: var(--dark-text) !important;
  margin: 0;
}

.ant-layout-content, .ant-layout {
  background-color: var(--primary) !important;
}

.ant-spin {
  color: black;
}

.ant-spin-dot-item {
  background-color: black !important;
}

.ant-dropdown-menu {
  background-color: black !important;
}

.ant-dropdown-menu-item {
  color: white !important;
}

.button-lg-round {
  width: '200px';
  height: '65px';
  font-weight: 'bold';
}

.input-round {
  border-radius: '15px';
  height: '50px';
}