.search-results-text {
  padding-left: min(30vw, 20px);
  align-self: flex-start;
  font-size: clamp(20px, 2vw, 30px);
  position: fixed;
  margin-left: 2vw;
  margin-top: clamp(70px, 9vh, 150px);
  margin-top: clamp(70px, 9vh, 150px);
}

.container {
  width: 100vw;
}

.beats-container {
  width: 100vw;
  margin-left: 6vw;
  padding-top: 15vh;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.beats-container > * {
  margin: 4vh 0;
}

/* tablet css */

@media (min-width: 480px) and (max-width: 1024px) {
  .search-results-text {
    margin-top: 5rem;
    font-size: 2rem;
  }

  .beats-container {
    margin-top: 2vh;
  }
}

/* mobile css */

@media (max-width: 480px) {
  .container {
    width: 100%;
    margin-right: 5vw;
    position: relative;
    overflow-x: hidden;
  }

  .search-results-text {
    margin-top: 2vh;
    position: relative;
  }

  .beats-container {
    padding-top: 2vh;
    padding-bottom: 10vh;
    height: 80vh;
    overflow-x: hidden;
    position: relative;
    width: 100%;
  }

  .beats-container > * {
    margin: 0;
    padding: 0;
  }
}
