.siteFooter {
  color: #fff;
  background-color: black;
  padding: 2.5vh 0;
  text-align: center;
}

.container {
  max-width: 60vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteFooter p {
  margin: 0;
  font-size: 0.8vw;
}

.siteFooter ul {
  font-size: 0.8vw;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.siteFooter ul li {
  margin: 0 0.7vw;
}

.siteFooter a {
  color: #fff;
  text-decoration: none;
}
